{% extends "admin.html" %}
{% block title %}
<div id="admin-page-content">
    <div id="ap-selector">
        <div id="ap-selector-list">
            <ul class="nav-ul">
                <a href="/admin/agencies"><li class="selector">Ceļojumu aģentūras</li></a>
                <a href="/admin/countries"><li class="selector">Valstis</li></a>
                <li class="selector" id="selected">Pieejamie ceļojumi</li>
            </ul>
        </div>
        <div id="ap-selector-display">  
            <h2 class="subtitle">Ceļojumu saraksts</h2>
            <div id="ap-selector-display-list">
                {% if 2 == 2 %}
                    {% for x in num %}
                    <div class="ap-list-member">
                        <ul class="list-ul">
                            <li style="font-weight: bold;">Latvija - Lietuva</li>
                            <li>14.06.2022 - 21.06.2022</li>
                            <li>80e</li>
                            <li>15 pieejamas vietas</li>
                        </ul>
                        <h2 class="ap-list-control correct">Labot</h2>
                        <h2 class="ap-list-control">Dzēst</h2>
                    </div>
                    {% endfor %}
                {% else %}
                <p id="ap-description">2 nav vienāds ar 2</p>
                {% endif %}
            </div>
            <div id="ap-selector-footer">
                <h2 class="ap-list-add">Pievienot</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}