{% extends "admin.html" %}
{% block title %}
<div id="admin-page-content">
    <div id="ap-selector">
        <div id="ap-selector-list">
            <ul class="nav-ul">
                <a href="/admin/agencies"><li class="selector">Ceļojumu aģentūras</li></a>
                <li class="selector" id="selected">Pieejamie ceļojumi</li>
            </ul>
        </div>
        <div id="ap-selector-display">  
            <h2 class="subtitle">Ceļojumu saraksts</h2>
            <div id="ap-selector-display-list">
                {% if trips %}
                    {% for trip in trips %}
                    <div class="ap-list-member">
                        <ul class="list-ul">
                            <li style="font-weight: bold;">{{ trip.country_from }} - {{ trip.country_to }}</li>
                            {% for agency in agencies %}
                                {% if agency.id == trip.agency_id %}
                                <li style="font-weight: bold;">Aģentūra: {{ agency.name }}</li>
                                {% endif %}
                            {% endfor %}
                            <li>{{ trip.date_from }} - {{ trip.date_to }}</li>
                            <li>80e</li>
                            <li>15 pieejamas vietas</li>
                        </ul>
                        <a href="/admin/edit/trip/{{ trip.id }}"><h2 class="ap-list-control correct">Labot</h2></a> <!-- Poga uz datu labošanas lapu -->
                        <a href="/admin/remove/trip/{{ trip.id }}"><h2 class="ap-list-control">Dzēst</h2></a> <!-- Poga kas dzēš ceļojumu -->
                    </div>
                    {% endfor %}
                {% else %}
                <p id="ap-description">Nav ceļojumu</p>
                {% endif %}
            </div>
            <div id="ap-selector-footer">
                <a href="/admin/add/trips" style="margin-left: auto;"><h2 class="ap-list-add">Pievienot</h2></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}