@import url(https://fonts.googleapis.com/css?family=Thasadith&display=swap);
@import url(https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap);

*{
    margin:0;
    padding:0;
}
body{
    font-family: Thasadith;
    color:#575757;
}

a {
    color: inherit;
    text-decoration: inherit;
}

#logo {
    margin-top:21px;
}

#title{
    margin-bottom: 0;
    margin-top: 75px;
    margin-left: 12px;
    vertical-align: text-bottom;
    font-family: Sulphur Point;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
}
header{
    display:flex;
    padding-bottom: 29px;
    margin-left: 39px;
    margin-right: 39px;
    border-bottom: 1px solid #ADADAD;
}
#header-main {
    display:flex;
    padding-bottom: 29px;
    margin-left: 39px;
    margin-right: 39px;
    border: 0;
}
#number{
    margin-top:54px;
    text-align:right;
    margin-left:auto;
    margin-right: 30px;
    font-size: 28px;
}
#login{
    margin-top:52px;
    height:42px;
    width:138px;
    margin-right:5% + 30px;
    border-radius: 16px;
    border:none;
    color: white;
    background-color: #0070D8;
}
.button-text {
    font-family: Sulphur Point;
    font-weight: normal;
    font-size: 24px;
}