@import url(https://fonts.googleapis.com/css?family=Thasadith&display=swap);
@import url(https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap);

*{
    margin:0;
    padding:0;
}
body{
    font-family: Thasadith;
    color:#575757;
}

#logo {
    
    margin-top:21px;
}

#title{
    margin-bottom: 0;
    margin-top: 75px;
    margin-left: 12px;
    vertical-align: text-bottom;
    font-family: Sulphur Point;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
}
header{
    display:flex;
    padding-bottom: 29px;
    margin-left: 39px;
    margin-right: 39px;
    border-bottom: 1px solid #ADADAD;
}
#header_main {
    display:flex;
    padding-bottom: 29px;
    margin-left: 39px;
    margin-right: 39px;
    border: 0;
}
#number{
    margin-top:54px;
    text-align:right;
    margin-left:auto;
    margin-right: 30px;
    font-size: 28px;
}
#login{
    margin-top:52px;
    height:42px;
    width:138px;
    margin-right:5% + 30px;
    border-radius: 16px;
    border:none;
    color: white;
    background-color: #0070D8;
}
.nice {
    font-family: Sulphur Point;
    font-weight: normal;
    font-size: 24px;
}

#pages {
    margin-left: 40px;
    margin-top: 15px;
    font-family: Thasadith;
    font-weight: bold;
    color: #3175c2;
    font-size: 15px;
    margin-bottom: 15px;
}

a:visited, a:link {
  text-decoration: none;
  font-family: Thasadith;
  font-weight: bold;
  color: #3175c2;
  font-size: 15px;
}

a:hover, a:active {
  text-decoration: underline;
  font-family: Thasadith;
  font-weight: bold;
  color: #3175c2;
  font-size: 15px;
}

#background {
    position: fixed;
    background-image: url(../images/background.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#searchPage2 {
    display: flex;
    background-color: rgb(73, 158, 255);
    width: 560px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 15px;
    border-radius: 16px;
}

#searchPage {
    display: flex;
    background-color: rgb(73, 158, 255);
    width: 560px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 16px;
    margin-top: 83.5px;
}

#searchButton {
    height: 35px;
    width: 90px;
    border-radius: 16px;
    font-family: Sulphur Point;
    font-size: 17px;
    border:none;
    color: white;
    background-color: #0070D8;
    margin-left: 15px;
}

#reserveButton {
    height: 35px;
    width: 95px;
    border-radius: 16px;
    font-family: Sulphur Point;
    font-size: 17px;
    border:none;
    color: white;
    background-color: #0070D8;
    margin-top: auto;
}

#input1 {
    border-radius: 13px;
    width: 320px;
    outline: none;
    border-style: none;
    text-indent: 10px;
}

#input2 {
    border-radius: 13px;
    outline: none;
    width: 120px;
    margin-left: 15px;
    border-style: none;
    text-indent: 10px;
}

#travelPanel {
    background-color: white;
    display: flex;
    height: 180px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    margin-top: 15px;
    border-color: rgb(230, 230, 230);
    border-width: 2px;
}

#travelImage { 
    height: 180px;
    width: 180px;
    object-fit: cover;
    
}

#travelText {
    margin-left: 15px;
    width: 250px;
}

#search_bar_back {
    background-image: url(../images/search_bar_back_main.png);
    background-repeat: no-repeat;
    height:222px;
    width: 100%;
    margin:none;
    text-align:center;
    background-position:50%;
    background-size:scale;
    overflow: hidden;
}
.sub_title {
    margin: 30px;
}
#travel_list_flexbox{
    display: flex;
    justify-content: center;
    margin:50px;
    width:auto;
}
.trip {
    margin:auto;
}
.travel_list_title {
    text-align: center;
}
.trip_img {
    width: 300px;
    height: 250px;
}
#rezervet {
    display: flex;
    justify-content: flex-end;
    font-family: Sulphur Point;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    text-align: right;
    color: #000000;
    margin-top: 15px;
    margin-right: 670px;
    margin-bottom: 15px;
}
#profile {
    background-color: #F4F4F4;
    width: 650px;
    height: 163px;
    margin-left: 100px;
}
#informacija {
    margin-left: 18px;
    padding-top: 8px;
    font-family: Sulphur Point;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    text-align: left;

    color: #000000;
}
#personiga-informacija {
    margin-left: 18px;
    margin-top: 18px;
    margin-right: 100px;
    font-style: normal;
    font-size: 12px;

    color: #000000;
}
#mainit{
    margin-top: 70px;
    margin-right: 10px;
    margin-left: 300px;
    height: 42px;
    width:  138px;
    border-radius: 16px;
    border:none;
    color: white;
    background-color: #0070D8;
}
#atcelt{
    margin-top: 150px;
    margin-right: 10px;
    margin-left: 435px;
    height: 42px;
    width:  138px;
    border-radius: 16px;
    border:none;
    color: white;
    background-color: #0070D8;
}
#informacija-mainit {
    display: inline-flex;
    justify-content: flex-end;
}
#rezervetie-celojumi {
    margin-left: 250px;
    width: 800px;
    height: 725px;
    background: #F4F4F4;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 7px;
}
.DivToScroll{   
    background-color: #939393;
    border: none;
    border-radius: 35px;
    color: #939393;
    left: -1px;
    padding: 10px 7px 5px;
}
.DivWithScroll{
    height:120px;
    overflow: scroll;
    overflow-x: hidden;
}
#celojumi {
    margin-top: 15px;
    margin-left: 7px;
    width: 725px;
    height: 202px;
    background: #FFFFFF;
    border-radius: 8px;
}
.box-text {
    font-family: Thasadith;
    font-weight: lighter;
    font-size: 24px;
    margin-top: 1px;
}
#profile-content {
    display: inline-flex;
    justify-content: flex-end;
}
#celojuma-informacija {
    margin-left: 15px;
}
#celojuma-atcelt {
    display: inline-flex;
}
#pievienot {
    margin-bottom: 5px;
    width: 135px;
    height: 42px;
    border-radius: 0;
    border: none;
    background-color: #C4C4C4;
}
#admin-teksts-1{
    font-family: Sulphur Point;
    font-style: normal;
    font-weight: normal;
    margin-left: 160px;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
#admin-teksts-2{
    font-family: Sulphur Point;
    font-style: normal;
    font-weight: normal;
    margin-left: 115px;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
#admin-teksts-3{
    font-family: Sulphur Point;
    font-style: normal;
    font-weight: normal;
    margin-left: 160px;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
#admin-box {
    width: 660px;
    height: 328px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}
#admin {
    display: inline-flex;
    justify-content: center;
    flex-direction: wrap;
}
#admin-info {
    flex-wrap: wrap;
    align-items: center;
}
#specific-box {
    flex-direction: column;
}
#whole-box {
    margin-left: 180px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: center;
}
#whole-box-bottom {
    margin-left: 590px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: center;
}
#admin-upper {
    display: flex;
    margin-top: 35px;
}
#admin-upper-bottom {
    display: flex;
    margin-top: 20px;
}
#log-in-panel {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 30%;
  width: 200px;
  height: 300px;
  background-color: white;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border: solid;
  border-width: 1px;
  border-radius: 40px;
}