<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password - verification</title>
</head>
<body>
    <h1>Forgot password</h1>
    <h3>Account verification</h3>
    <p>We've sent you a verification number to your specified e-mail. </p>
    <form method="POST", action="{% url 'login_register:password_forgot_token' %}">
        {% csrf_token %}
        <label for="number">Enter the verification number below:</label><br/>
        <input type="text" id="number" name="number"><br/><br/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>