<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
</head>
<body>
    <h1>Forgot password</h1>
    <h3>E-Mail check</h3>
    <form method="POST", action="{% url 'login_register:password_forgot_verify' %}">
        {% csrf_token %}
        <label for="email">Enter your profile e-mail. We will be sending you a verification code:</label><br/>
        <input type="text" id="email" name="email"><br/><br/>
        <button type="submit">Reset password</button>
    </form>
</body>
</html>