<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body>
    <h1>Register</h1>
    <form method="POST" action='{% url "login_register:user_register" %}'>
        {% csrf_token %}
        <label for="email">E-Mail:</label><br/>
        <input type="text" id="email" name="email"><br/><br/>

        <label for="name">Name:</label><br/>
        <input type="text" id="name" name="name"><br/><br/>

        <label for="surname">Surname:</label><br/>
        <input type="text" id="surname" name="surname"><br/><br/>

        <label for="password">Password:</label><br/>
        <input type="password" id="password" name="password"><br/>

        <label for="password_check">Repeat password:</label><br/>
        <input type="password" id="password_check" name="password_check"><br/><br/>

        <button>Register</button>

        <p><a href='{% url "login_register:login" %}'>Login</a></p>
        <br/>
        <p><a href=#>Forgot password?</a></p>
    </form>
</body>
</html>