<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/stylesheet.css') }}">
    <script src="../static/js/adminScript.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Thasadith&display=swap" rel="stylesheet"/>
    <title>Travely</title>
</head>
<body>
    <header id="header-main">
        <a href="/" style="margin-left: 1%;"><img id="logo" src="/static/images/png.png" width="60" height="60" /></a>
        <a href="/" id="title">Travely</a>
        <a href="tel:+37129749980" id="number">tel. +371 29749980</h1>
        <a href="/profile" class="button" id="button-login" style="margin-right: 0.5%;">Profils</a>
        <a href="/logout" class="button" id="button-logout">Izrakstīties</a>
    </header>

    {% block title %}
    <h1>404</h1>
    {% endblock %}
</body>
</html>