<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Thasadith&display=swap" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <header>
        <img id="logo" src="static/images/png.png" width="90" height="90" />
        <h1 id="title">Travely Administrācija</h1>
        <h1 id="number">+371 29749980</h1>
        <button id="login"><span class="nice">LOG IN</span></button>
    </header>

    <div id="admin-info">
        <div id="admin">
            <div id="whole-box">
                <div id="specific-box">
                    <div id="admin-upper">
                        <button id="pievienot"><span class="nice">Pievienot</span></button>

                        <h1 id="admin-teksts-1">Aģentūras</h1>
                    </div>
                    <div id="admin-box"></div>
                </div>
            </div>
        </div>

        <div id="admin">
            <div id="whole-box">
                <div id="specific-box">
                    <div id="admin-upper">
                        <button id="pievienot"><span class="nice">Pievienot</span></button>

                        <h1 id="admin-teksts-2">Ceļojumu saraksts</h1>
                    </div>
                    <div id="admin-box"></div>
                </div>
            </div>
        </div>

        <div id="admin">
            <div id="whole-box-bottom">
                <div id="specific-box">
                    <div id="admin-upper-bottom">
                        <button id="pievienot"><span class="nice">Pievienot</span></button>

                        <h1 id="admin-teksts-3">Valstis</h1>
                    </div>
                    <div id="admin-box"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>