{% extends "index.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h1 style="color:rgb(0, 0, 0); position: absolute; top: 100px; left: 780px;">{{ message }}</h1>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div id="profile-content">
        <div id="profile">
            <div class="profile-titlebar">
                <h1 id="profile-titlebar-text">Ievadiet datus kur nepieciešams</h1>
            </div>
            <div id="informacija-mainit">
                <div>
                    <h2 class="profile-box-text-gray">Vārds</h2>
                    <h2 class="profile-box-text-gray">Uzvārds</h2>
                    <h2 class="profile-box-text-gray">E-pasts</h2>
                    <h2 class="profile-box-text-gray">Jauna parole</h2>
                    <h2 class="profile-box-text-gray">Atkātojiet paroli</h2>
    
                </div>
                <form action="/profile/edit/check" method="POST">
                    {{ form.csrf_token }}
                    <div class="change-group">
                        {{ form.name(placeholder="Ievadiet savu vārdu", class="change-form") }}
                    </div>
                    <div class="change-group">
                        {{ form.surname(placeholder="Ievadiet savu uzvārdu", class="change-form") }}
                    </div>
                    <div class="change-group">
                        {{ form.email(placeholder="Ievadiet e-pastu", class="change-form") }}
                    </div>
                    <div class="change-group">
                        {{ form.password(placeholder="Jauna parole", class="change-form") }}
                    </div>
                    <div class="change-group">
                        <input type="password" class="change-form" placeholder="Atkārtojiet jauno paroli">
                    </div>
                    <a href="/profile" style="margin-right: 10%;">Atcelt</a><button type="submit" id="save-button">Saglabāt</button>
                </form>
            </div>
        </div>
        <div id="rezervetie-celojumi">
            <div class="reservation-list-titlebar">
                <h1 id="reservation-titlebar-text">Rezervācijas</h1>
            </div>
            <div class="DivToScroll DivWithScroll">
                {% for reservation in reservations %}
                    <div id="celojumi">
                        <div id="celojuma-informacija">
                            <h1 id="destination-text-bold">{{ reservation.country_from }} - {{ reservation.country_to }}</h1>
                            <h1 class="reservation-box-text">Rez.nr. {{ reservation.reservation_number }}</h1>
                            <h1 class="reservation-box-text">Dienu skaits: {{ reservation.days }}</h1>
                            <h1 class="reservation-box-text">Izbraukšana: <b>{{ reservation.date_from.strftime("%Y-%m-%d %H:%M") }}</b></h1>
                            <h1 class="reservation-box-text">Atgriešanās: <b>{{ reservation.date_to.strftime("%Y-%m-%d %H:%M") }}</b></h1>
                            <h1 id="price-text-bold">Cena: {{ reservation.price }}€</h1>
                            <a href="/upload/{{ reservation.id }}/{{ reservation.owner_id }}" class="button" id="button-reserve" style="margin-top: 6px;">Izprintēt</a>
                        </div>
                        <a href="/reservation/remove/{{ reservation.id }}" class="button" id="button-reserve" style="margin-right: 10px;">Atcelt</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}