<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <link rel="Icon" href="../static/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Thasadith&display=swap" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <div id="body-wrap">
        <header id="header-main">
            <a href="/" style="margin-left: 1%;"><img id="logo" src="../static/images/png.png" width="60" height="60" /></a>
            <a href="/" id="title">Travely</a>
            <a href="tel:+37129749980" id="number">tel. +371 29749980</h1>
            {% if session['user'] %}
                <a href="/profile" class="button" id="button-login">Profils</a>
            {% else %}
                <a href="/login" class="button" id="button-login">Ieiet</a>
            {% endif %}
        </header>
        {% block content %}
            <div id="page-middle">
                <div id="search-bar-back">
                    <!-- <div id="search-page">
                        <input id="input1" type="text" placeholder="Kur jūs velaties doties">
                        <input id="input2" type="text" placeholder="Datums">
                        <button id="search-button"><a href="catalogue" id="search-button">Meklēt</a></button>
                    </div> -->
                </div>
                <div id="about-us">
                    <h1 class="subtitle">Travely - Generic catchy slogan</h1>
                    <p class="about-us-desc">Apskatiet mūsu galamērķu klāstu jūsu sapņu ceļojumam! Mēs piedāvājam izbraucienus uz kaimiņvalstīm, kā arī garus ceļojumus uz pasaules otru pusi!</p>
                    <a href="/catalogue" class="button" id="button-trips">Ceļojumi</a>
                </div>
                <div id="guarantee">
                <div id="guarantee-list-flexbox">
                    <div>
                        <img src="static/images/logo/wallet.png">
                        <h1>Lēti piedāvājumi</h1>
                        <p>Mūsu ceļojuma piedāvājumi ir piemēroti jebkuram budžeta plānam</p>
                    </div>
                    <div>
                        <img src="static/images/logo/heart.png">
                        <h1>Veselības apdrošināšana</h1>
                        <p>Visi medicīniskie pakalpojumi nelaimes gadījumos tiek apmaksāti</p>
                    </div>
                    <div>
                        <img src="static/images/logo/cash.png">
                        <h1>Garantēta naudas atgriezšana</h1>
                        <p>Garantējam naudas atmaksu ceļojuma atcelšanas gadījumā - pat pēc ceļojuma!</p>
                    </div>
                </div>
                </div>
                <div id="travel-list">
                    <h1 class="sub-title">Populārākie galamērķi</h1>
                    <div id="travel-list-flexbox">
                        {% for trip in top_trips %}
                            <a class="trip" href="/reservation/{{ trip.id }}">
                                <div class="trip">
                                    <div class="trip-header">
                                        <span id="trip-header-title">{{ countries[trip.country_from - 1].country }} - {{ countries[trip.country_to - 1].country }}</span>
                                        <span id="trip-header-views">{{ trip.views }} skatījumi</span>
                                    </div>
                                    <img src="{{ url_for('static', filename='/images/destinations/' + trip.img_file) }}" class="trip-img">
                                </div>
                            </da>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</body>
</html>