{% extends "index.html" %}
{% block content %}
    <div id="profile-content">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h1 style="color:red;">{{ message }}</h1>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div id="profile">
            <div class="profile-titlebar">
                <h1 id="profile-titlebar-text">Profils</h1>
            </div>
            <div id="informacija-mainit">
                <img class="profile-image" src="../static/images/logo/Group 1.svg">
                <h1 class="profile-box-text">{{ user.name }} {{ user.surname }}</h1>
                <h1 class="profile-box-text">{{ user.email }}</h1>
                {% if user.role_id != 0 %}
                    <a href="/admin"><button id="profile-buttons">Admin</button></a>
                {% endif %}
                <button id="profile-buttons">Dzēst datus</button>
                <button id="profile-buttons">Lejupielādēt datus</button>
            </div>
        </div>

        <div class="rezervetie-celojumi-padding">
            <div class="reservation-list-titlebar">
                <h1 id="reservation-titlebar-text">Rezervētie ceļojumi</h1>
            </div>
            <div id="rezervetie-celojumi">
                <div class="DivToScroll DivWithScroll">
                    {% for reservation in reservations %}
                        <div id="celojumi">
                            <h1 class="box-text-bold">{{ reservation.country_from }} - {{ reservation.country_to }}</h1>
                            <h1 class="reservation-box-text">{{ reservation.owner_name }} {{ reservation.owner_surname }} Rez.nr. {{ reservation.reservation_number }}</h1>
                            <h1 class="reservation-box-text">Dienu skaits: {{ reservation.days }}</h1>
                            <h1 class="box-text-bold">Cena: {{ reservation.price }}</h1>
                            <h1 class="reservation-box-text">Izbraukšana: <b>{{ reservation.date_from.strftime("%Y-%m-%d %H:%M") }}</b></h1>
                            <h1 class="reservation-box-text">Atgriešanās: <b>{{ reservation.date_to.strftime("%Y-%m-%d %H:%M") }}</b></h1>
                            <a href="/upload/{{ reservation.id }}/{{ reservation.owner_id }}"><button id="print">Printeris</button></a>
                            <button id="atcelt">Atcelt</button> 
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}