<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/stylesheet.css">
    <link rel="Icon" href="static/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Thasadith&display=swap" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <div id="body-wrap">
        <header id="header-main">
            <a href="/"><img id="logo" src="static/images/png.png" width="60" height="60" /></a>
            <h1 id="title">Ceļot Prieks!</h1>
            <h1 id="number">+371 29749980</h1>
            <button id="login"><span class="button-text">IZIET</span></button>
        </header>
        {% block content %}
        <div>
            <div id="profile-data" align="center">
                <h1>Mani Dati</h1>
                <div id="profile-box">
                    <p class="profile-text" align="left">Vārds:</p>
                    <p class="profile-text" align="left">Uzvārds:</p>
                    <p class="profile-text" align="left">E-pasta adrese:</p>
                    <p class="profile-text" align="left">Telefona numurs:</p>
                </div>
            </div>
            <div div align="center">
                <h1>Mani Ceļojumi</h1>
                <div id="profile-box">
            
                </div>
            </div>
        </div>
        {% endblock %}
        <footer>
            <span>© 2022 SIA "Travely"</span>
        </footer>
    </div>
</body>
</html>