<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/stylesheet.css">
    <link rel="Icon" href="static/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Thasadith&display=swap" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <header id="header-main">
        <img id="logo" src="../static/images/png.png" width="60" height="60" />
        <h1 id="title">Travely</h1>
        <a href="tel:+37129749980" id="number">tel. +371 29749980</h1>
        <a href="/profils" class="button" id="button-login">LOG IN</a>
    </header>
    <div id="pages">
        <a href="/">Sākumlapa</a>
        <span class="pages"><b>></b></span>
        <a href="/profils">Mans Profils</a>
    </div>
    <div id="profile-content">
        <div id="profile">
            <h2 id="informacija">Personīgā informācija</h2>

            <div id="informacija-mainit">
                <div id="personiga-informacija">
                    <h1><span class="box-text">Vārds:</span></h1>
                    <h1><span class="box-text">E-pasts:</span></h1>
                    <h1><span class="box-text">Tel. nr.:</span></h1>
                </div>
                <button id="mainit"><span class="button-text">Mainīt</span></button> 
            </div>
        </div>

        <div>
            <h1 id="rezervet">Rezervētie ceļojumi</h1>
            <div id="rezervetie-celojumi" class="DivToScroll DivWithScroll">
                {% for reserve in reservation %}
                    <div id="celojumi">
                        <div id="celojuma-atcelt">
                            <div id="celojuma-informacija">
                                <h1 class="box-text">Rez nr.:{{ reserve.id }}</h1>
                                <h1 class="box-text">Maršuts:</h1>
                                <h1 class="box-text">Izbraukšana:</h1>
                                <h1 class="box-text">Atgriešanās:</h1>
                                <h1 class="box-text">Dienu skaits:</h1>
                                <h1 class="box-text">Cena:</h1>
                            </div>
                            <!--<a href="/reservation/remove/{{ reserve.id }}" class="reserve-button"><span class="reserve-button-text">Atcelt</span></a> -->
                            <a href="/reservation/remove/{{ reserve.id }}" class="button" id="button-reserve">Atcelt</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>