{% extends "index.html" %}
{% block content %}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content clearfix">
                <div class="modal-body">
                    <h3 class="title">Reģistrēšanās</h3>
                    <p class="description">Ievadiet savu pilno vārdu, e-pastu un paroli, lai reģistrētos Travely!</p>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ievadiet savu vārdu">
                        <span class="profile-important">*</span>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ievadiet savu uzvārdu">
                        <span class="profile-important">*</span>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Ievadiet savu telefona numuru">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Ievadiet e-pastu">
                        <span class="profile-important">*</span>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Atkārtoti ievadiet e-pastu">
                        <span class="profile-important">*</span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Ievadiet paroli">
                        <span class="profile-important">*</span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Atkārtoti ievadiet paroli vēlreiz">
                        <span class="profile-important">*</span>
                    </div>
                    <div class="form-group checkbox">
                        <input type="checkbox">
                        <label>Atcerēties mani</label>
                    </div>
                    <a href="" class="forgot-pass">Aizmirsāt paroli?</a>
                    <div>
                        <button class="btn">Reģistrēties</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}