{% extends "index.html" %}
{% block content %}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content clearfix">
                <div class="modal-body">
                    <h3 class="title">Reģistrēšanās</h3>
                    <p class="description">Ievadiet savu pilno vārdu, e-pastu un paroli, lai reģistrētos Travely!</p>
                    <form action="/sign_up" method="POST">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ form.name(placeholder="Ievadiet savu vārdu", class="form-control") }}
                            <span class="profile-important">*</span>
                        </div>
                        <div class="form-group">
                            {{ form.surname(placeholder="Ievadiet savu uzvārdu", class="form-control") }}
                            <span class="profile-important">*</span>
                        </div>
                        <div class="form-group">
                            {{ form.email(placeholder="Ievadiet e-pastu", class="form-control") }}
                            <span class="profile-important">*</span>
                        </div>
                        <div class="form-group">
                            {{ form.password(placeholder="Ievadiet paroli", class="form-control") }}
                            <span class="profile-important">*</span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Atkārtoti ievadiet paroli vēlreiz">
                            <span class="profile-important">*</span>
                        </div>
                        <div class="form-group checkbox">
                            <input type="checkbox">
                            <label>Atcerēties mani</label>
                        </div>
                        <button type="submit" class="authorize-button">Reģistrēties</button>
                    </form>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}